@model Proyectof.Models.Ingresos

@{
    ViewBag.Title = "Alta";
}

<h2>Dar de alta al paciente</h2>


@using (Html.BeginForm("Create","AltaMedica"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ingresos</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idIngreso)

    <div class="form-group">
        <label class="control-label col-md-2">Cedula del paciente</label>
        <div class="col-md-10">
            @Html.DropDownList("idPaciente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idPaciente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Numero de habitacion</label>
        <div class="col-md-10">
            @Html.DropDownList("idHabitacion", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idHabitacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Fecha de ingreso</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fechaIngreso" id="fechaIngreso" value="@Model.fecha" />
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Fecha de salida</label>
        <div class="col-md-10">
            <input class="form-control" type="date" name="fechaSalida" id="fechaSalida" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Monto</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="monto" id="monto" readonly />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Calcular" name="calcular" id="calcular" class="btn btn-danger" />
        </div>
    </div><br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dar de alta" class="btn btn-success" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Volver atras", "Newindex")
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/moment.min.js"></script>
<script>
    $("#calcular").click(function () {

        f1 = $('#fechaIngreso').val().substr(0, 9);
        f2 = $('#fechaSalida').val();

        const date = f1;
        const [day, month, year] = date.split('/');

        c = (year + "-" + month + "-" + day);

        var fecha1 = moment(c);
        var fecha2 = moment(f2);

        var d = (fecha2.diff(fecha1, 'days'));

        var TH = $('#idHabitacion').val();

        if (TH = 1) {
            $('#monto').val(d * 250);
        }
        else if (TH = 2) {

            $('#monto').val(d * 450);
        }
        else {
            $('#monto').val(d * 650);
        }

    })

</script>
}


