@model IEnumerable<Proyectof.Models.Medicos>

@{
    ViewBag.Title = "Medicos";
}

<h2>Medicos</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por Especialidad: <input type="text" class="form-control" name="especialidad" id="especialidad" />
        Buscar por nombre: <input type="text" class="form-control" name="nombre" id="nombre" /><br />
    </p>
    <input type="submit" value="Buscar" />

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exequater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.especialidad)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exequater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidad)
            </td>

        </tr>
    }

</table>
