@model IEnumerable<Proyectof.Models.Medicos>

@{
    ViewBag.Title = "Medicos";
}

<h2>Medicos</h2>
@using (Html.BeginForm())
{
    <p>
        Buscar por Especialidad: <input type="text" class="form-control" name="especialidad" id="especialidad" />
        Buscar por nombre: <input type="text" class="form-control" name="nombre" id="nombre" /><br />
    </p>
    <input type="submit" value="Buscar" />

}
<br />
<div id="Reporte">
    <input type="button" onclick="DescargarPDF('Reporte','Consulta Medicos')" value="Descargar PDF" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exequater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidad)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.exequater)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidad)
                </td>

            </tr>
        }

    </table>
</div>
    @section Scripts{

        <script src="~/Scripts/jspdf.debug.js"></script>


        <script>


            function DescargarPDF(ContenidoID, nombre) {
                var pdf = new jsPDF('p', 'pt', 'letter');
                html = $('#' + ContenidoID).html();
                specialElementHandlers = {};
                margins = { top: 10, bottom: 20, left: 20, width: 522 };
                pdf.fromHTML(html, margins.left, margins.top, { 'width': margins.width }, function (dispose) { pdf.save(nombre + '.pdf'); }, margins);
            }

        </script>


    }
